<% title "#{@contact.first_name} #{@contact.last_name}" %>

<%# ----------------------------- Address ------------------------------- %>
<div id="address">
  <% if @contact.address %>
    <%= render :partial => @contact.address %>
  <% else %>
    <h3>Add an Address</h3>

    <%= form_for Address.new(:contact => @contact) do |f| %>
      <%= f.hidden_field :contact_id %>
      
      <p>
        <%= f.label :first_line %><br />
        <%= f.text_field :first_line %>
      </p>
      <p>
        <%= f.label :other_lines %><br />
        <%= f.text_field :other_lines %>
      </p>
      <p>
        <%= f.label :town %><br />
        <%= f.text_field :town %>
      </p>
      <p>
        <%= f.label :postcode %><br />
        <%= f.text_field :postcode %>
      </p>
      
      <p><%= f.submit "Add Address" %></p>
    <% end %>
    
  <% end %>
</div>

<br>
<%= link_to "View All Contacts", contacts_path %>

<%# ----------------------------- Emails ------------------------------- %>
<h3 id="emails_count"><%= pluralize(@contact.emails.size, "Email") %></h3>

<div id="emails">
  <%= render :partial => @contact.emails %>
</div>

<h3>Add an Email</h3>

<%= form_for Email.new(:contact => @contact) do |f| %>
  <%= f.hidden_field :contact_id %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :label, "Email type" %><br />
    <%= f.text_field :label %>
  </p>
  <p><%= f.submit "Add Email" %></p>
<% end %>

<%# ----------------------------- Telephone Numbers ------------------------------- %>
<h3 id="telephone_numbers_count"><%= pluralize(@contact.telephone_numbers.size, "Telephone Number") %></h3>

<div id="telephone_numbers">
  <%= render :partial => @contact.telephone_numbers %>
</div>

<h3>Add a Telephone Number</h3>

<%= form_for TelephoneNumber.new(:contact => @contact) do |f| %>
  <%= f.hidden_field :contact_id %>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :label, "Number type" %><br />
    <%= f.text_field :label %>
  </p>
  <p><%= f.submit "Add Telephone Number" %></p>
<% end %>
