<div class="addresses">
  <%=h address.first_line %><% if address.first_line.present? %>,<% end %>
  <%=h address.other_lines %><% if address.other_lines.present? %>,<% end %>
  <%=h address.town %><% if address.town.present? && address.postcode.present? %>,<% end %>
  <%=h address.postcode %>
  
  <div class="actions">
    <%= link_to "Destroy", address, method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
  
</div>
